<link rel="stylesheet" href="/css/user_info_style.css">
<link rel="stylesheet" href="/css/courses_style.css">
<body>
    {{> header}}
    <nav class="breadcrumbs">
        <ul>
            <li><a href="/home_page"><img src="/images/home.png"></a></li>
            <li><a href="/courses" class="active">Δήλωση Μαθημάτων</a></li>
        </ul>
    </nav>
    {{> menu}}

    <div class="flex-container">
        <div class="content-wrapper">
            <div class="table-container">
                <div class="title-container">
                    <h2>Δήλωση Μαθημάτων</h2>
                </div>

                <hr>

                {{#if hasDeclaredCourses}}
                    <img src="/images/exclamation.png">
                    <p class="exclamation">Η δήλωση μαθημάτων έχει ήδη υποβληθεί</p>
                    <fieldset>
                        <label for="editDeclaration">Επεξεργασία δήλωσης</label>
                        <input type="checkbox" id="editDeclaration" name="editDeclaration" onchange="toggleCourses()">
                    </fieldset>
                {{else if hasCoursesWithNoGrade}}
                    <img src="/images/exclamation.png">
                    <p class="exclamation">Η δήλωση μαθημάτων έχει ήδη υποβληθεί</p>
                    <fieldset>
                        <label for="editDeclaration">Επεξεργασία δήλωσης</label>
                        <input type="checkbox" id="editDeclaration" name="editDeclaration" onchange="toggleCourses()">
                    </fieldset>
                {{else}}
                    <fieldset>
                        <label for="newDeclaration">Νέα δήλωση μαθημάτων</label>
                        <input type="checkbox" id="newDeclaration" name="newDeclaration" onchange="toggleCourses()">
                    </fieldset>
                {{/if}}

                <form id="courseForm" method="post" action="/submit_course_declaration" style="display: none;">
                    <div id="courseDropdown">
                        <fieldset>
                            <label for="courses">Επιλέξτε μαθήματα:</label>
                            <div id="courseList">
                                <h5 id="noCoursesMessage" style="display:none;">Δεν υπάρχουν διαθέσιμα μαθήματα για δήλωση</h5>
                                <h4 id="notCompletedTitle">Μη ολοκληρωμένα:</h4>
                                {{#each notPassedCourses}}
                                    <div class="course-item">
                                        <input type="checkbox" id="course_{{this.id}}" name="courses[]" value="{{this.id}}">
                                        <label for="course_{{this.id}}">{{this.name}}</label>
                                    </div>
                                {{/each}}

                                <h4 id="currentTitle">Μη δηλωμένα τρέχοντος εξαμήνου:</h4>
                                {{#each currentSemesterCourses}}
                                    <div class="course-item">
                                        <input type="checkbox" id="course_{{this.id}}" name="courses[]" value="{{this.id}}">
                                        <label for="course_{{this.id}}">{{this.name}}</label>
                                    </div>
                                {{/each}}
                            </div>
                        </fieldset>
                    </div>
                    <button class="edit-button" type="button" id="submitBtn" onclick="openPopup()">Υποβολή</button>
                </form>
            </div>
        </div>
    </div>

    <div class="popup" id="popup">
        <img src="/images/file.png">
        <p>Επιτυχής δήλωση μαθημάτων!</p>
    </div>

    <script>
        function toggleCourses() {
            const courseForm = document.getElementById("courseForm");
            const submitBtn = document.getElementById("submitBtn");
            const newDeclarationCheckbox = document.getElementById("newDeclaration");
            const editDeclarationCheckbox = document.getElementById("editDeclaration");
            const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');

            if ((newDeclarationCheckbox && newDeclarationCheckbox.checked) || (editDeclarationCheckbox && editDeclarationCheckbox.checked)) {
                courseForm.style.display = "block";
                submitBtn.style.display = "inline";
            } else {
                courseForm.style.display = "none";
                submitBtn.style.display = "none";
            }
        }

        let popup = document.getElementById("popup");
        function openPopup(){
            popup.classList.add("open-popup");
            setTimeout(function(){
                popup.classList.remove("open-popup");
                document.getElementById('courseForm').submit();
                }, 3000);
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            const currentSemester = {{currentSemester}};
            const notCompletedTitle = document.getElementById('notCompletedTitle');
            const currentTitle = document.getElementById('currentTitle');
            const notPassedCourses = {{{json notPassedCourses}}};
            const currentCourses = {{{json currentSemesterCourses}}};
            const noCoursesMessage = document.getElementById('noCoursesMessage');

            if (currentSemester % 2 === 0) {
                notCompletedTitle.textContent = "Μη ολοκληρωμένα προηγούμενων εαρινών εξαμήνων:";
            } else {
                notCompletedTitle.textContent = "Μη ολοκληρωμένα προηγούμενων χειμερινών εξαμήνων:";
            }

            if (notPassedCourses.length === 0) {
                notCompletedTitle.style.display = "none";
            }
            if (currentCourses.length === 0) {
                currentTitle.style.display = "none";
            }
            if (notPassedCourses.length === 0 && currentCourses.length === 0) {
                noCoursesMessage.style.display = "block";
            }
        });
    </script>
</body>
</html>
