<link rel="stylesheet" href="/css/edit_user_info_style.css">
<link rel="stylesheet" href="/css/user_info_style.css">
<body>
    <div id="header">
        {{> header}}
    </div>
    <nav class="breadcrumbs">
        <ul>
            <li><a href="/home_page"><img src="images/home.png"></a></li>
            <li><a href="/user_info">Προσωπικά στοιχεία</a></li>
            <li><a href="/edit_user_info" class="active">Επεξεργασία</a></li>
        </ul>
    </nav>
    <div id="menu">
        {{> menu}}
    </div>

    <div class="flex-container">
        <div class="content-wrapper">
            <div class="form-container">
                <div class="title-container">
                    <h2>Στοιχεία Φοιτητή - Επεξεργασία</h2>
                    <button class="save-button" type="submit" onclick=openPopup()> Αποθήκευση </button> 
                </div>
                
                <form id="userForm" method="post" action="/edit_user_info">
                    <div class="gap"></div>
                    <fieldset>
                        <label for="street">ΟΔΟΣ:</label>
                        <input type="text" id="street" name="street" placeholder="{{street}}"><br>
                        <hr>
                        <label for="number">ΑΡΙΘΜΟΣ:</label>
                        <input type="text" id="number" name="number" placeholder={{number}}><br>
                        <hr>
                        <label for="postcode">ΤΑΧΥΔΡΟΜΙΚΟΣ ΚΩΔΙΚΑΣ:</label>
                        <input type="text" id="postcode" name="postcode" placeholder={{postcode}}><br>
                        <hr>
                        <label for="city">ΠΟΛΗ:</label>
                        <input type="text" id="city" name="city" placeholder={{city}}><br>
                        <hr>
                    </fieldset>
                    <input type="hidden" name="academic_id" value="{{ID}}">    
                    <div class="gap"></div>

                    <fieldset>
                        <label for="phone">ΤΗΛΕΦΩΝΟ:</label>
                        <input type="text" id="phone" name="phone" placeholder={{tel}}><br>
                        <hr>
                        <label for="email">EMAIL:</label>
                        <input type="text" id="email" name="email" placeholder={{email}}><br>
                        <hr>  
                    </fieldset>    
                </form>
            </div>
        </div>
    </div>
                
    <div class="popup" id="popup">
        <img src="/images/file.png">
        <p>Επιτυχής επεξεργασία στοιχείων!</p>
    </div>

    <div id="footer"></div>

    <script>
        let popup = document.getElementById("popup");
        function openPopup(){
            popup.classList.add("open-popup");
            setTimeout(function(){
                popup.classList.remove("open-popup");
                document.getElementById('userForm').submit();
                }, 3000);
        }
    </script>
</body>
