<link rel="stylesheet" href="/css/user_info_style.css">

<body>
    {{> header}}
    <nav class="breadcrumbs">
        <ul>
            <li><a href="/home_page"><img src="/images/home.png"></a></li>
            <li><a href="/student_progress" class="active">Ακαδημαική Πρόοδος</a></li>
        </ul>
    </nav>
    {{> menu}}

    <div class="flex-container">
        <div class="content-wrapper">
            <div class="table-container">
                <div class="title-container">
                    <h2>Ακαδημαϊκή Πρόοδος</h2>
                </div>

                <hr>
                
                <table class="progress">
                    <thead>
                        <tr>
                            <th>ΕΞ.</th>
                            <th>ΚΩΔ.</th>
                            <th>ΤΙΤΛΟΣ</th>
                            <th>ΒΑΘΜΟΣ</th>
                            <th>ΕΤΟΣ</th>
                            <th class="semester">ΑΚ. ΕΞΑΜΗΝΟ</th>
                            <th class="status">ΚΑΤΑΣΤΑΣΗ</th>
                            <th>ΒΑΡ.</th>
                            <th>ECTS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each courses}}
                        <tr>
                            <td class="module">{{this.semester}}</td>
                            <td class="sub_id">{{this.id}}</td>
                            <td class="subject">{{this.name}}</td>
                            <td class="grade">{{displayGrade this.grade this.semester ../studentsSemester}}</td>
                            <td class="year">{{this.academic_year}}</td>
                            <td class="semester">{{#if (isOddSemester this.semester)}}Χειμερινό{{else}}Εαρινό{{/if}}</td>
                            <td class="status">{{status this.grade this.semester ../studentsSemester}}</td>
                            <td class="weight">{{this.weight}}</td>
                            <td class="credits">{{this.credits}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                <hr>

                <div class="gap"></div>

                <table class="progress">
                    <tr class="average">
                        <th>ΜΕΣΟΣ ΟΡΟΣ</th>
                        <td class="average_value">--</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const grades = document.querySelectorAll(".grade");

            grades.forEach(grade => {
                const gradeValue = parseFloat(grade.textContent);
                if (gradeValue < 5 || grade.textContent === "NS") {
                    grade.parentElement.classList.add("fail");
                }
            });

            const rows = document.querySelectorAll(".progress tbody tr");
            let totalWeightedGrades = 0;
            let totalWeight = 0;

            rows.forEach(row => {
                const gradeElement = row.querySelector(".grade");
                if (!gradeElement) return;

                const grade = parseFloat(gradeElement.textContent);
                if (row.classList.contains("fail") || isNaN(grade)) return;

                const weight = parseFloat(row.querySelector(".weight").textContent);
                if (isNaN(weight)) return;

                totalWeightedGrades += grade * weight;
                totalWeight += weight;
            });

            const averageGrade = totalWeight > 0 ? (totalWeightedGrades / totalWeight) : 0;
            const averageCell = document.querySelector(".average_value");
            averageCell.textContent = averageGrade.toFixed(2); 
    });
    </script>

</body>
