<link rel="stylesheet" href="/css/user_info_style.css">
<body>
    {{> header}}
    <nav class="breadcrumbs">
        <ul>
            <li><a href="/"><img src="/images/home.png"></a></li>
            <li><a href="/user_info" class="active">Προσωπικά στοιχεία</a></li>
        </ul>
    </nav>
    {{> menu}}

    <div class="flex-container">
        <div class="content-wrapper">
            <div class="table-container">
                <div class="title-container">
                    <h2>Στοιχεία Φοιτητή</h2>
                    <button class="edit-button" onclick="window.location.href='/edit_user_info'">Επεξεργασία</button>
                </div>

                <hr>
                
                <table>
                    <tbody>
                        <tr>
                            <td>ΑΡΙΘΜΟΣ ΜΗΤΡΩΟΥ</td>
                            <td>{{ ID }}</td>
                        </tr>
                        <tr>
                            <td>ΟΝΟΜΑΤΕΠΩΝΥΜΟ</td>
                            <td>{{ name }} {{ surname }}</td>
                        </tr>
                        <tr>
                            <td>ΑΡΙΘΜΟΣ ΤΑΥΤΟΤΗΤΑΣ</td>
                            <td>{{ ID_num }}</td>
                        </tr>
                        <tr>
                            <td>ΗΜΕΡΟΜΗΝΙΑ ΓΕΝΝΗΣΗΣ</td>
                            <td>{{ birthday }}</td>
                        </tr>
                        <tr>
                            <td>ΦΥΛΟ</td>
                            <td>{{ gender }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="gap"></div>

                <table>
                    <tbody>
                        <tr>
                            <td>ΚΑΤΑΣΤΑΣΗ</td>
                            <td>ΕΝΕΡΓΟΣ ΦΟΙΤΗΤΗΣ</td>
                        </tr>
                        <tr>
                            <td>ΕΤΟΣ ΕΙΣΑΓΩΓΗΣ</td>
                            <td>{{ registrationDate }}</td>
                        </tr>
                        <tr>
                            <td>ΤΡΕΧΟΝ ΕΞΑΜΗΝΟ</td>
                            <td>{{ semester }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="gap"></div>

                <table>
                    <tbody>
                        <tr>
                            <td>ΔΙΕΥΘΥΝΣΗ</td>
                            <td>{{ address }}</td>
                        </tr>
                        <tr>
                            <td>ΤΑΧΥΔΡΟΜΙΚΟΣ ΚΩΔΙΚΑΣ</td>
                            <td>{{ postcode }}</td>
                        </tr>
                        <tr>
                            <td>ΤΗΛΕΦΩΝΟ</td>
                            <td>{{ phone }}</td>
                        </tr>
                        <tr>
                            <td>EMAIL</td>
                            <td>{{ email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>
</html>
